html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common code */

a {
    text-decoration: none;

}

.btn {
    width: 117px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid #000958;
    background: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1440px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}


/* header */

.header {
    background-color: #FFFAF5;
}

.header__inner {
    padding-top: 26px;
    display: flex;
    align-items: center;
    gap: 36px;
    flex-wrap: nowrap;
}

.header__logo {
    padding-left: 123.5px;
    padding-right: 229px;
}

.header__nav__text {
    text-decoration: none;
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    transition: all 0.3s;
}

.header__sign-up__btn {
    margin-left: 193px;
    color: #000958;
    background-color: transparent;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 0.3s;
}

.header__sign-up__btn:hover {
    background-color: #000958;
    color: #fff;
}

.header__nav__text:hover {
    color: #000958;
    text-shadow: #000958 0.2px 0.2px 0.2px;
}

/* hero */

.hero__main {
    background-color: #FFFAF5;
    padding-bottom: 130px;
}

.hero__container {
    padding-top: 106px;
    display: flex;
}

.section__hero-left {
    margin-left: 75px;
}

.hero__heading {
    padding-top: 120px;
    max-width: 517px;
    color: #000958;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    margin-top: 24px;
    max-width: 391px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}

.section__hero-right {
    margin-left: 120px;
}

.hero__button-action {
    color: #fff;
    margin-top: 38px;
    margin-right: 24px;
    width: 189px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 31px;
    background-color: #FF5B2E;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
    border: 1px solid #FF5B2E;
    font-size: 1.6rem;
    transition: background-color ease 0.3s, opacity ease 0.3s;
}

.hero__button-action:hover {
    opacity: 0.7;
}

.schedule {
    color: #000958;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    transition: all 0.3s;
}

.schedule:hover {
    opacity: 0.5;
}

/* about */

.about__main {
    background-color: #FFFAF5;
}

.about__container {
    display: flex;

}

.about__left {
    padding-top: 80px;
    padding-left: 120px;
}

.about__left__heading {
    margin-top: 15px;
    max-width: 446px;
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.about__left__title__heading {
    color: #5E6085;
    font-size: 1.6rem;
    font-weight: 600;
}

.about__left__desc {
    margin-top: 24px;
    max-width: 431px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}

.about__right-img {
    margin-left: 80px;
}

.about__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 34px;
    column-gap: 36px;

}

.about__list-achivement {
    display: flex;
    align-items: center;
}

.about__achivement {
    margin-left: 10px;
    font-size: 1.8rem;
    color: #48496A;
    font-weight: 500;
}

/* about-2 */

.about-2__main {
    background-color: #FFFAF5;
}

.about-2__container {
    display: flex;
    padding-top: 80px;
    padding-bottom: 130px;
}

.about-2__right__container {
    margin-left: 78px;
}

.about-2__heading {
    margin-top: 52px;
    max-width: 543px;
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.about-2__desc {
    margin-top: 24px;
    max-width: 511px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}

.about-2__right__list {
    margin-top: 52px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 22px;
}

.about-2__information {
    display: flex;
    align-items: center;
}

.about-2__service-desc {
    color: #48496A;
    font-size: 1.8rem;
    font-weight: 600;
}

.about-2__right__desc-2 {
    margin-top: 50px;
    max-width: 391px;
    color: #656689;
    font-size: 1.4;
    font-weight: 400;
    line-height: 1.71;
}

.about-2__right__view-more {
    display: inline-block;
    color: #FF5D31;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 32px;
}

.about-2__right__view-more:hover {
    text-decoration: underline;
    text-decoration-color: #FF5D31;
    text-decoration-thickness: 1.5px;
}